/* Add any custom CSS here that is not covered by Tailwind CSS */
body {
    font-family: 'Inter', sans-serif;
}
.text-navy {
    color: #073946;
}
.bg-navy {
    background-color:#073946 ;
}

/* User Auth Styles */
.user-auth {
    display: flex;
    align-items: center;
}

.user-auth button {
    margin-left: 10px;
    padding: 8px 12px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.user-auth button:hover {
    background-color: white;
    color: #073946;
}

.user-welcome {
    display: flex;
    align-items: center;
    color: white;
}

.user-welcome span {
    margin-right: 10px;
}

#logout-btn {
    padding: 8px 12px;
    border: 1px solid white;
    background-color: #ff6600;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#logout-btn:hover {
    background-color: #e65c00;
}
